{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        Log in   
      {% endblock %}
    </title>
  </head>
  
  <body>
    {% block body %}

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-4">

          <!-- message to display  success or error in submission-->
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
          
          <!-- Log in form -->
          <form action="" method="post">
            {% csrf_token %}
            <h3>Log in with your email account</h3>

            <!-- load login form -->
            {{ login_form.as_p }}

            <div class="text-center">
              <button class="btn btn-success" type="submit">Log in</button>
            </div>
          </form>
          <hr>
          <!-- redirect button to signup page if user dont't have an account -->
          <h6 style="color: black;">Don't have an account yet, <a href="{% url 'signup' %}">Sign up</a></h6>
        </div>
      </div>

    {% endblock %}
  </body>
</html>  